- name: DATABASE_URL
  valueFrom:
    secretKeyRef:
      {{- if and .Values.databaseExternal.enabled .Values.databaseExternal.urlFromExistingSecret.enabled }}
      name: {{ .Values.databaseExternal.urlFromExistingSecret.name }}
      name: {{ .Values.databaseExternal.urlFromExistingSecret.key }}
      {{- else }}
      name: {{ template "flagsmith.fullname" . }}
      key: DATABASE_URL
      {{- end }}
{{- if .Values.influxdb.enabled }}
- name: INFLUXDB_URL
  value: http://{{- template "flagsmith.influx.hostname" . -}}:8086
- name: INFLUXDB_BUCKET
  value: {{ .Values.influxdb.adminUser.bucket }}
- name: INFLUXDB_ORG
  value: {{ .Values.influxdb.adminUser.organization }}
- name: INFLUXDB_TOKEN
  valueFrom:
    secretKeyRef:
      name: {{ template "influxdb.fullname" . }}-auth
      key: admin-token
{{- else if .Values.influxdbExternal.enabled }}
- name: INFLUXDB_URL
  value: {{ .Values.influxdbExternal.url | required "Must specify a URL for an external InfluxDB" }}
- name: INFLUXDB_BUCKET
  value: {{ .Values.influxdbExternal.bucket | required "Must specify a bucket for an external InfluxDB" }}
- name: INFLUXDB_ORG
  value: {{ .Values.influxdbExternal.organization | required "Must specify an organization for an external InfluxDB" }}
- name: INFLUXDB_TOKEN
  valueFrom:
    secretKeyRef:
      {{- if .Values.influxdbExternal.tokenFromExistingSecret.enabled }}
      name: {{ .Values.influxdbExternal.tokenFromExistingSecret.name | required "Must set secret name for external InfluxDB secret" }}
      key: {{ .Values.influxdbExternal.tokenFromExistingSecret.key | required "Must set key for external InfluxDB secret" }}
      {{- else }}
      name: {{ template "influxdb.fullname" . }}-external-auth
      key: admin-token
      {{- end }}
{{- end }}
- name: DJANGO_ALLOWED_HOSTS
  value: '*'
{{- range $envName, $envValue := .Values.api.extraEnv }}
- name: {{ $envName }}
  value: {{ $envValue | quote }}
{{- end }}
