{{- if .Values.taskProcessor.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "flagsmith.fullname" . }}-task-processor
  {{- $annotations := include "flagsmith.annotations" .Values.common }}
  {{- with $annotations }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "flagsmith.labels" . | nindent 4 }}
    app.kubernetes.io/component: task-processor
spec:
  selector:
    matchLabels:
      {{- include "flagsmith.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: task-processor
  replicas: {{ .Values.taskProcessor.replicacount }}
  template:
    metadata:
      annotations:
        checksum/secrets-api: {{ include (print $.Template.BasePath "/secrets-api.yaml") . | sha256sum }}
        {{- if and .Values.influxdbExternal.enabled (not .Values.influxdbExternal.tokenFromExistingSecret.enabled) }}
        checksum/secrets-influxdb-external: {{ include (print $.Template.BasePath "/secrets-influxdb-external.yaml") . | sha256sum }}
        {{- end }}
{{- if .Values.taskProcessor.podAnnotations }}
{{ toYaml .Values.taskProcessor.podAnnotations | nindent 8 }}
{{- end }}
      labels:
        {{- if .Values.common.labels }}
        {{- .Values.common.labels  | toYaml | nindent 8 }}
        {{- end }}
        {{- include "flagsmith.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: task-processor
        {{- if .Values.taskProcessor.podLabels }}
{{ toYaml .Values.taskProcessor.podLabels | indent 8 }}
        {{- end }}
    spec:
      {{- if .Values.taskProcessor.shareProcessNamespace }}
      shareProcessNamespace: true
      {{- end }}
      {{- if .Values.taskProcessor.affinity }}
      affinity:
{{ toYaml .Values.taskProcessor.affinity | indent 8 }}
      {{- end }}
      {{- if .Values.taskProcessor.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.taskProcessor.nodeSelector | indent 8 }}
      {{- end }}
      {{- if .Values.taskProcessor.tolerations }}
      tolerations:
{{ toYaml .Values.taskProcessor.tolerations | indent 8 }}
      {{- end }}
      {{- if .Values.taskProcessor.schedulerName }}
      schedulerName: "{{ .Values.taskProcessor.schedulerName }}"
      {{- end }}
      {{- with .Values.taskProcessor.image.imagePullSecrets | default .Values.api.image.imagePullSecrets | default .Values.global.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- $securityContext := .Values.taskProcessor.podSecurityContext | default (dict) | deepCopy }}
        {{- if .Values.taskProcessor.defaultPodSecurityContext.enabled }}
        {{- $securityContext = $securityContext | merge (omit .Values.taskProcessor.defaultPodSecurityContext "enabled") }}
        {{- end }}
        {{- toYaml $securityContext | nindent 8 }}
      {{- if .Values.taskProcessor.serviceAccountName }}
      serviceAccountName: {{ .Values.taskProcessor.serviceAccountName }}
      {{- end }}
{{- with .Values.taskProcessor.extraInitContainers }}
      initContainers:
{{- toYaml . | nindent 6 }}
{{- end }}
      containers:
      - name: {{ .Chart.Name }}-task-processor
        image: {{ .Values.taskProcessor.image.repository | default .Values.api.image.repository }}:{{ .Values.taskProcessor.image.tag  }}
        imagePullPolicy: {{ .Values.taskProcessor.image.imagePullPolicy | default .Values.api.image.imagePullPolicy }}
        command:
          - ./scripts/run-docker.sh
        args:
          - run-task-processor
        ports:
        - containerPort: {{ .Values.service.taskProcessor.port }}
        env: {{ include (print $.Template.BasePath "/_task_processor_environment.yaml") . | nindent 8 }}
        livenessProbe:
          failureThreshold: {{ .Values.taskProcessor.livenessProbe.failureThreshold }}
          httpGet:
            path: /health/liveness
            port: {{ .Values.service.taskProcessor.port }}
            scheme: HTTP
          initialDelaySeconds: {{ .Values.taskProcessor.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.taskProcessor.livenessProbe.periodSeconds }}
          successThreshold: {{ .Values.taskProcessor.livenessProbe.successThreshold }}
          timeoutSeconds: {{ .Values.taskProcessor.livenessProbe.timeoutSeconds }}
        readinessProbe:
          failureThreshold: {{ .Values.taskProcessor.readinessProbe.failureThreshold }}
          httpGet:
            path: /health/readiness
            port: {{ .Values.service.taskProcessor.port }}
            scheme: HTTP
          initialDelaySeconds: {{ .Values.taskProcessor.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.taskProcessor.readinessProbe.periodSeconds }}
          successThreshold: {{ .Values.taskProcessor.readinessProbe.successThreshold }}
          timeoutSeconds: {{ .Values.taskProcessor.readinessProbe.timeoutSeconds }}
        resources:
{{ toYaml .Values.taskProcessor.resources | indent 10 }}
        volumeMounts:
{{ toYaml .Values.taskProcessor.volumeMounts | indent 10 }}
{{- with .Values.taskProcessor.extraContainers }}
{{ if typeIs "string" . }}
    {{- tpl . $ | nindent 6 }}
{{- else }}
    {{- tpl (toYaml .) $ | nindent 6 }}
{{- end }}
{{- end }}
      volumes:
{{- with .Values.taskProcessor.extraVolumes }}
{{- toYaml . | nindent 6 }}
{{- end }}
{{- with .Values.taskProcessor.extraSpec }}
{{- toYaml . | nindent 2 }}
{{- end }}
{{- end }}
