apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "flagsmith.fullname" . }}-api
  {{- $annotations := include "flagsmith.annotations" .Values.common }}
  {{- with $annotations }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "flagsmith.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  selector:
    matchLabels:
      {{- include "flagsmith.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: api
  {{- with .Values.api.deploymentStrategy }}
  strategy: {{- . | toYaml | nindent 4 }}
  {{- end }}
  {{- include "flagsmith.replicaCount" .Values.api.replicacount | nindent 2 }}
  template:
    metadata:
      annotations:
        checksum/secrets-api: {{ include (print $.Template.BasePath "/secrets-api.yaml") . | sha256sum }}
        {{- if and .Values.influxdbExternal.enabled (not .Values.influxdbExternal.tokenFromExistingSecret.enabled) }}
        checksum/secrets-influxdb-external: {{ include (print $.Template.BasePath "/secrets-influxdb-external.yaml") . | sha256sum }}
        {{- end }}
        {{- if and .Values.api.influxdbSetup.enabled }}
        checksum/configmap-influxdb-setup: {{ include (print $.Template.BasePath "/configmap-influxdb-setup.yaml") . | sha256sum }}
        {{- end }}
{{- if .Values.api.podAnnotations }}
{{ toYaml .Values.api.podAnnotations | nindent 8 }}
{{- end }}
      labels:
        {{- if .Values.common.labels }}
        {{- .Values.common.labels  | toYaml | nindent 8 }}
        {{- end }}
        {{- include "flagsmith.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: api
        {{- if .Values.api.podLabels }}
{{ toYaml .Values.api.podLabels | indent 8 }}
        {{- end }}
    spec:
      {{- if .Values.api.shareProcessNamespace }}
      shareProcessNamespace: true
      {{- end }}
      {{- if .Values.api.affinity }}
      affinity:
{{ toYaml .Values.api.affinity | indent 8 }}
      {{- end }}
      {{- if .Values.api.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.api.nodeSelector | indent 8 }}
      {{- end }}
      {{- if .Values.api.tolerations }}
      tolerations:
{{ toYaml .Values.api.tolerations | indent 8 }}
      {{- end }}
      {{- if .Values.api.schedulerName }}
      schedulerName: "{{ .Values.api.schedulerName }}"
      {{- end }}
      {{- if .Values.api.image.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.api.image.imagePullSecrets | indent 8 }}
      {{- end }}
      securityContext:
        {{- $securityContext := .Values.api.podSecurityContext | default (dict) | deepCopy }}
        {{- if .Values.api.defaultPodSecurityContext.enabled }}
        {{- $securityContext = $securityContext | merge (omit .Values.api.defaultPodSecurityContext "enabled") }}
        {{- end }}
        {{- toYaml $securityContext | nindent 8 }}
      initContainers:
{{- if .Values.api.enableMigrateDbInitContainer }}
      - name: migrate-db
        image: {{ .Values.api.image.repository }}:{{ .Values.api.image.tag | default (printf "%s" .Chart.AppVersion) }}
        imagePullPolicy: {{ .Values.api.image.imagePullPolicy }}
        args: ["migrate"]
        env: {{ include (print $.Template.BasePath "/_api_environment.yaml") . | nindent 8 }}
{{- end }}
{{- if .Values.api.bootstrap.enabled }}
      - name: bootstrap
        image: {{ .Values.api.image.repository }}:{{ .Values.api.image.tag | default (printf "%s" .Chart.AppVersion) }}
        imagePullPolicy: {{ .Values.api.image.imagePullPolicy }}
        command: ["/bin/sh", "-c"]
        args: ["python manage.py waitfordb && python manage.py bootstrap"]
        env: {{ include (print $.Template.BasePath "/_api_environment.yaml") . | nindent 8 }}
          {{- if .Values.api.bootstrap.adminEmail }}
          - name: ADMIN_EMAIL
            value: {{ .Values.api.bootstrap.adminEmail }}
          {{- end }}
          {{- if .Values.api.bootstrap.organisationName }}
          - name: ORGANISATION_NAME
            value: {{ .Values.api.bootstrap.organisationName }}
          {{- end }}
          {{- if .Values.api.bootstrap.projectName }}
          - name: PROJECT_NAME
            value: {{ .Values.api.bootstrap.projectName }}
          {{- end }}
{{- end }}
{{- if .Values.api.influxdbSetup.enabled }}
      - name: influxdb-setup
        image: {{ .Values.api.image.repository }}:{{ .Values.api.image.tag | default (printf "%s" .Chart.AppVersion) }}
        imagePullPolicy: {{ .Values.api.image.imagePullPolicy }}
        command:
          - python
          - /influxdb_setup/influxdb_setup.py
        env: {{ include (print $.Template.BasePath "/_api_environment.yaml") . | nindent 8 }}
        volumeMounts:
          - name: influxdb-setup
            mountPath: /influxdb_setup/
{{- end }}
{{- with .Values.api.extraInitContainers }}
{{- toYaml . | nindent 6 }}
{{- end }}
      containers:
      - name: {{ .Chart.Name }}-api
        image: {{ .Values.api.image.repository }}:{{ .Values.api.image.tag | default (printf "%s" .Chart.AppVersion) }}
        imagePullPolicy: {{ .Values.api.image.imagePullPolicy }}
        # command: ["sleep", "3600"]
        args: ["serve"]
        ports:
        - containerPort: {{ .Values.service.api.port }}
        env: {{ include (print $.Template.BasePath "/_api_environment.yaml") . | nindent 8 }}
        livenessProbe:
          failureThreshold: {{ .Values.api.livenessProbe.failureThreshold }}
          httpGet:
            path: {{ .Values.api.livenessProbe.path }}
            port: {{ .Values.service.api.port }}
            scheme: HTTP
          initialDelaySeconds: {{ .Values.api.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.api.livenessProbe.periodSeconds }}
          successThreshold: {{ .Values.api.livenessProbe.successThreshold }}
          timeoutSeconds: {{ .Values.api.livenessProbe.timeoutSeconds }}
        readinessProbe:
          failureThreshold: {{ .Values.api.readinessProbe.failureThreshold }}
          httpGet:
            path: {{ .Values.api.readinessProbe.path }}
            port: {{ .Values.service.api.port }}
            scheme: HTTP
          initialDelaySeconds: {{ .Values.api.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.api.readinessProbe.periodSeconds }}
          successThreshold: {{ .Values.api.readinessProbe.successThreshold }}
          timeoutSeconds: {{ .Values.api.readinessProbe.timeoutSeconds }}
        resources:
{{ toYaml .Values.api.resources | indent 10 }}
{{- with .Values.api.extraContainers }}
{{- toYaml . | nindent 6 }}
{{- end }}
      volumes:
{{- if .Values.api.influxdbSetup.enabled }}
        - name: influxdb-setup
          configMap:
            name: {{ template "flagsmith.fullname" . }}-influxdb-setup
{{- end }}
{{- with .Values.api.extraVolumes }}
{{- toYaml . | nindent 6 }}
{{- end }}