{{- if .Values.ingress.api.enabled -}}
{{- $fullName := include "flagsmith.fullname" . -}}
{{- $svcPort := .Values.service.api.port -}}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else -}}
{{- if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
{{- end }}
kind: Ingress
metadata:
  namespace: {{ include "flagsmith.namespace" . }}
  name: {{ $fullName }}-api
  labels:
    {{- include "flagsmith.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
  {{- $annotations := include "flagsmith.annotations" ( dict "customAnnotations" .Values.ingress.api.annotations "commonValues" .Values.common ) }}
  {{- with $annotations }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
spec:
{{- with .Values.ingress.api.ingressClassName }}
  ingressClassName: {{ . }}
{{- end }}
  {{- if .Values.ingress.api.tls }}
  tls:
    {{- range .Values.ingress.api.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.ingress.api.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ . }}
            {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName}}-api
                port: 
                  number: {{ $svcPort }}
            {{- else }}
            backend:
              serviceName: {{ $fullName }}-api
              servicePort: {{ $svcPort }}
            {{- end }}
          {{- end }}
    {{- end }}
  {{- end }}
