{{- if .Values.jobs.migrateAnalyticsData.enabled -}}
apiVersion: batch/v1
kind: Job
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ template "flagsmith.fullname" . }}-migrate-analytics-data-{{ .Release.Revision }}-{{ randAlphaNum 5 | lower }}
  {{- $annotations := include "flagsmith.annotations" .Values.common }}
  {{- with $annotations }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "flagsmith.labels" . | nindent 4 }}
    app.kubernetes.io/component: job-migrate-analytics-data
spec:
  template:
    spec:
      restartPolicy: Never
      {{- if .Values.jobs.migrateDb.serviceAccountName }}
      serviceAccountName: {{ .Values.jobs.migrateDb.serviceAccountName }}
      {{- end }}
      {{- if .Values.jobs.migrateDb.shareProcessNamespace }}
      {{- end }}
      shareProcessNamespace: true
      containers:
      - name: migrate-analytics-data
        image: {{ .Values.api.image.repository }}:{{ .Values.api.image.tag | default (printf "%s" .Chart.AppVersion) }}
        command: ["python","manage.py", "migrate_analytics"]
        {{- if .Values.jobs.migrateAnalyticsData.args }}
        args: {{ toYaml .Values.jobs.migrateAnalyticsData.args | nindent 8 }}
        {{- end }}
        env: {{ include (print $.Template.BasePath "/_api_environment.yaml") . | nindent 8 }}
{{- with .Values.jobs.migrateDb.extraContainers }}
{{ if typeIs "string" . }}
    {{- tpl . $ | nindent 6 }}
{{- else }}
    {{- tpl (toYaml .) $ | nindent 6 }}
{{- end }}
{{- end }}
      volumes:
{{- with .Values.jobs.migrateDb.extraVolumes }}
{{- toYaml . | nindent 6 }}
{{- end }}
{{- end -}}
