{{- if .Values.jobs.migrateDb.enabled -}}
apiVersion: batch/v1
kind: Job
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ template "flagsmith.fullname" . }}-migrate-db-{{ .Release.Revision }}-{{ randAlphaNum 5 | lower }}
  {{- $annotations := include "flagsmith.annotations" .Values.common }}
  {{- with $annotations }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "flagsmith.labels" . | nindent 4 }}
    app.kubernetes.io/component: job-migrate-db
spec:
  ttlSecondsAfterFinished: {{ .Values.jobs.migrateDb.ttlSecondsAfterFinished }}
  template:
    metadata:
      {{- if .Values.jobs.migrateDb.jobAnnotations }}
      annotations:
{{ toYaml .Values.jobs.migrateDb.jobAnnotations | indent 8 }}
      {{- end }}
      labels:
        {{- if .Values.common.labels }}
        {{- .Values.common.labels  | toYaml | nindent 8 }}
        {{- end }}
        {{- include "flagsmith.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: job-migrate-db
        {{- if .Values.jobs.migrateDb.podLabels }}
{{ toYaml .Values.jobs.migrateDb.podLabels | indent 8 }}
        {{- end }}
    spec:
      restartPolicy: {{ .Values.jobs.migrateDb.restartPolicy }}
      {{- if .Values.jobs.migrateDb.affinity }}
      affinity:
{{ toYaml .Values.jobs.migrateDb.affinity | indent 8 }}
      {{- end }}
      {{- if .Values.jobs.migrateDb.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.jobs.migrateDb.nodeSelector | indent 8 }}
      {{- end }}
      {{- if .Values.jobs.migrateDb.tolerations }}
      tolerations:
{{ toYaml .Values.jobs.migrateDb.tolerations | indent 8 }}
      {{- end }}
      {{- with .Values.api.image.imagePullSecrets | default .Values.global.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | indent 8 }}
      {{- end }}
      securityContext:
        {{- $securityContext := .Values.jobs.migrateDb.podSecurityContext | default (dict) | deepCopy }}
        {{- if .Values.jobs.migrateDb.defaultPodSecurityContext.enabled }}
        {{- $securityContext = $securityContext | merge (omit .Values.jobs.migrateDb.defaultPodSecurityContext "enabled") }}
        {{- end }}
        {{- toYaml $securityContext | nindent 8 }}
      {{- if .Values.jobs.migrateDb.serviceAccountName }}
      serviceAccountName: {{ .Values.jobs.migrateDb.serviceAccountName }}
      {{- end }}
      {{- if .Values.jobs.migrateDb.shareProcessNamespace }}
      shareProcessNamespace: true
      {{- end }}
      containers:
      - name: migrate-db
        image: {{ .Values.api.image.repository }}:{{ .Values.api.image.tag | default .Chart.AppVersion }}
        imagePullPolicy: {{ .Values.api.image.imagePullPolicy }}
        {{- if .Values.jobs.migrateDb.command }}
        command: {{ toYaml .Values.jobs.migrateDb.command | nindent 8 }}
        {{- end }}
        {{- if .Values.jobs.migrateDb.args }}
        args: {{ toYaml .Values.jobs.migrateDb.args | nindent 8 }}
        {{- else }}
        args: ["migrate"]
        {{- end }}
        env:
        {{- include (print $.Template.BasePath "/_api_environment.yaml") . | nindent 8 }}
        {{- if and .Values.jobs.migrateDb.databaseUrl .Values.jobs.migrateDb.databaseUrl.fromExistingSecret.enabled }}
        {{- /* Override DATABASE_URL with migration-specific credentials */}}
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: {{ .Values.jobs.migrateDb.databaseUrl.fromExistingSecret.name | required "jobs.migrateDb.databaseUrl.fromExistingSecret.name is required when enabled" }}
              key: {{ .Values.jobs.migrateDb.databaseUrl.fromExistingSecret.key | required "jobs.migrateDb.databaseUrl.fromExistingSecret.key is required when enabled" }}
        {{- end }}
{{- with .Values.jobs.migrateDb.extraContainers }}
{{ if typeIs "string" . }}
    {{- tpl . $ | nindent 6 }}
{{- else }}
    {{- tpl (toYaml .) $ | nindent 6 }}
{{- end }}
{{- end }}
      volumes:
{{- with .Values.jobs.migrateDb.extraVolumes }}
{{- toYaml . | nindent 6 }}
{{- end }}
{{- end }}
