apiVersion: v1
kind: Secret
metadata:
  name: {{ template "flagsmith.fullname" . }}
  {{- $annotations := include "flagsmith.annotations" .Values.common }}
  {{- with $annotations }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "flagsmith.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
type: Opaque
stringData:
  DATABASE_URL: {{ include "flagsmith.api.databaseUrl" . | trim | quote }}
  DJANGO_SECRET_KEY: {{ .Values.api.secretKey | default (randAlphaNum 50)  | quote }}
