apiVersion: v1
kind: Secret
metadata:
  name: {{ template "flagsmith.fullname" . }}
  labels:
    {{- include "flagsmith.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
type: Opaque
data:
{{- if .Values.databaseExternal.url }}
  DATABASE_URL: {{ include "flagsmith.api.databaseUrl" . | trim | b64enc | quote }}
{{- end }}
{{- with .Values.api.secretKey }}
  DJANGO_SECRET_KEY: {{ . | b64enc | quote }}
{{- end }}
