{{- if .Values.pgbouncer.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "flagsmith.fullname" . }}-pgbouncer
  {{- $annotations := include "flagsmith.annotations" .Values.common }}
  {{- with $annotations }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "flagsmith.labels" . | nindent 4 }}
    app.kubernetes.io/component: pgbouncer
type: Opaque
data:
  {{- if and .Values.databaseExternal.enabled .Values.databaseExternal.urlFromExistingSecret.enabled }}
  {{- fail "Cannot read URL from existing secret when using PgBouncer. PgBouncer needs host, user and password as separate environment variables." }}
  {{- end }}
  {{- $urlParts := (include "flagsmith.api.realDatabaseUrl" . | trim | urlParse) }}
  {{- $userParts := $urlParts.userinfo | split ":" }}
  {{- $hostParts := $urlParts.host | split ":" }}
  POSTGRESQL_HOST: {{ $hostParts._0 | b64enc | quote }}
  POSTGRESQL_DATABASE: {{ $urlParts.path | trimAll "/" | b64enc | quote }}
  POSTGRESQL_USER: {{ $userParts._0 | b64enc | quote }}
  {{- if .Values.pgbouncer.passwordOverride }}
  POSTGRESQL_PASSWORD: {{ .Values.pgbouncer.passwordOverride | b64enc | quote }}
  {{- else }}
  POSTGRESQL_PASSWORD: {{ $userParts._1 | b64enc | quote }}
  {{- end }}
{{- end }}
