apiVersion: v1
kind: Secret
metadata:
  name: {{ template "flagsmith.fullname" . }}
  {{- $annotations := include "flagsmith.annotations" .Values.common }}
  {{- with $annotations }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "flagsmith.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
type: Opaque
data:
  DATABASE_URL: {{ include "flagsmith.api.databaseUrl" . | trim | b64enc | quote }}
