{{- if and .Values.influxdbExternal.enabled (not .Values.influxdbExternal.tokenFromExistingSecret.enabled) }}
apiVersion: v1
kind: Secret
metadata:
  {{- $annotations := include "flagsmith.annotations" . }}
  {{- with $annotations }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "flagsmith.labels" . | nindent 4 }}
  name: {{ template "flagsmith.influxdb.fullname" . }}-external-auth
data:
  admin-token: {{ .Values.influxdbExternal.token | b64enc | quote }}
{{- end }}
