{{- if and .Values.serviceMonitor.enabled .Values.prometheus.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "flagsmith.fullname" . }}
  {{- with .Values.serviceMonitor.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flagsmith.labels" . | nindent 4 }}
    {{- with .Values.serviceMonitor.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- with .Values.serviceMonitor.jobLabel }}
  jobLabel: {{ . }}
  {{- end }}
  {{- with .Values.serviceMonitor.targetLabels }}
  targetLabels: {{ . }}
  {{- end }}
  endpoints:
    - port: prom
      {{- with .Values.serviceMonitor.interval }}
      interval: {{ . }}
      {{- end }}
      {{- with .Values.serviceMonitor.scheme }}
      scheme: {{ . }}
      {{- end }}
      {{- with .Values.serviceMonitor.tlsConfig }}
      tlsConfig:
        {{- toYaml .| nindent 6 }}
      {{- end }}
      {{- with .Values.serviceMonitor.scrapeTimeout }}
      scrapeTimeout: {{ . }}
      {{- end }}
      path: {{ .Values.serviceMonitor.path }}
      honorLabels: {{ .Values.serviceMonitor.honorLabels }}
      {{- with .Values.serviceMonitor.metricRelabelings }}
      metricRelabelings:
        {{- tpl (toYaml . | nindent 6) $ }}
      {{- end }}
      {{- with .Values.serviceMonitor.relabelings }}
      relabelings:
        {{- toYaml . | nindent 6 }}
      {{- end }}
  selector:
    matchLabels:
      {{- include "flagsmith.selectorLabels" . | nindent 6 }}
    matchExpressions:
      - { key: app.kubernetes.io/component, operator: In, values: [ api, task-processor ] }
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
{{- end }}
