apiVersion: v1
kind: Service
metadata:
  name: {{ include "flagsmith.fullname" . }}-api
  {{- with .Values.service.api.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "flagsmith.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  type: {{ .Values.service.api.type }}
  ports:
    - port: {{ .Values.service.api.port }}
      targetPort: {{ .Values.service.api.port }}
      protocol: TCP
      name: http
  selector: {{- include "flagsmith.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
