{{- if .Values.pgbouncer.enabled }}
apiVersion: v1
kind: Service
metadata:
  namespace: {{ include "flagsmith.namespace" . }}
  name: {{ template "flagsmith.fullname" . }}-pgbouncer
  {{- $annotations := include "flagsmith.annotations" .Values.common }}
  {{- with $annotations }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "flagsmith.labels" . | nindent 4 }}
    app.kubernetes.io/component: pgbouncer
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector: {{- include "flagsmith.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: pgbouncer
{{- end }}
