apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "flagsmith.fullname" . }}
  labels:
    app: {{ template "flagsmith.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  selector:
    matchLabels:
      app: {{ template "flagsmith.fullname" . }}
      release: "{{ .Release.Name }}"
      role: frontend
  replicas: {{ .Values.frontend.replicacount }}
  template:
    metadata:
      {{- if .Values.frontend.podAnnotations }}
      annotations:
{{ toYaml .Values.frontend.podAnnotations | indent 8 }}
      {{- end }}
      labels:
        app: {{ template "flagsmith.fullname" . }}
        release: "{{ .Release.Name }}"
        role: frontend
        {{- if .Values.frontend.podLabels }}
{{ toYaml .Values.frontend.podLabels | indent 8 }}
        {{- end }}
    spec:
      {{- if .Values.frontend.affinity }}
      affinity:
{{ toYaml .Values.frontend.affinity | indent 4 }}
      {{- end }}
      {{- if .Values.frontend.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.frontend.nodeSelector | indent 4 }}
      {{- end }}
      {{- if .Values.frontend.tolerations }}
      tolerations:
{{ toYaml .Values.frontend.tolerations | indent 4 }}
      {{- end }}
      {{- if .Values.frontend.schedulerName }}
      schedulerName: "{{ .Values.frontend.schedulerName }}"
      {{- end }}
      {{- if .Values.frontend.image.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.frontend.image.imagePullSecrets | indent 4 }}
      {{- end }}
      containers:
      - name: {{ .Chart.Name }}-frontend
        image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
        imagePullPolicy: {{ .Values.frontend.image.imagePullPolicy }}
        ports:
        - containerPort: {{ .Values.service.frontend.internalPort }}
        env:
{{- if .Values.frontend.env }}
{{ toYaml .Values.frontend.env | indent 8 }}
{{- end }}
        livenessProbe:
          failureThreshold: {{ .Values.frontend.livenessProbe.failureThreshold }}
          httpGet:
            path: /health
            port: {{ .Values.service.frontend.internalPort }}
            scheme: HTTP
          initialDelaySeconds: {{ .Values.frontend.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.frontend.livenessProbe.periodSeconds }}
          successThreshold: {{ .Values.frontend.livenessProbe.successThreshold }}
          timeoutSeconds: {{ .Values.frontend.livenessProbe.timeoutSeconds }}
        readinessProbe:
          failureThreshold: {{ .Values.frontend.readinessProbe.failureThreshold }}
          httpGet:
            path: /health
            port: {{ .Values.service.frontend.internalPort }}
            scheme: HTTP
          initialDelaySeconds: {{ .Values.frontend.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.frontend.readinessProbe.periodSeconds }}
          successThreshold: {{ .Values.frontend.readinessProbe.successThreshold }}
          timeoutSeconds: {{ .Values.frontend.readinessProbe.timeoutSeconds }}
      resources:
{{ toYaml .Values.frontend.resources | indent 12 }}