apiVersion: v2
name: flagsmith
description: Flagsmith
type: application
version: 0.4.0
appVersion: 2.9.4
dependencies:
  - name: postgresql
    repository: https://charts.helm.sh/stable
    version: 8.6.4
    condition: postgresql.enabled
  - name: influxdb2
    repository: https://helm.influxdata.com/
    # pinned due to issue https://github.com/influxdata/helm-charts/issues/350
    version: 2.0.0
    condition: influxdb2.enabled
icon: https://docs.flagsmith.com/img/square-icon.png
# maintainers:
#   - name: Ben Rometsch, Matt Elwell
#     email: support@flagsmith.com
