apiVersion: v2
name: flagsmith
description: Flagsmith
type: application
version: 0.30.0
appVersion: 2.104.0
dependencies:
  - name: postgresql
    repository: https://charts.helm.sh/stable
    version: 8.6.4
    condition: postgresql.enabled
  - name: influxdb2
    repository: https://helm.influxdata.com/
    version: 2.1.1
    condition: influxdb2.enabled
  - name: graphite
    repository: https://kiwigrid.github.io
    version: 0.7.3
    condition: graphite.enabled
icon: https://docs.flagsmith.com/img/square-icon.png
