apiVersion: v2
name: flagsmith
description: Flagsmith
type: application
version: 0.2.20
appVersion: "2.9"
dependencies:
  - name: postgresql
    repository: https://charts.helm.sh/stable
    version: 8.6.4
    condition: postgresql.enabled
icon: https://docs.flagsmith.com/img/square-icon.png
# maintainers:
#   - name: Ben Rometsch, Matt Elwell
#     email: support@flagsmith.com
