apiVersion: v2
name: flagsmith
description: Flagsmith
type: application
<<<<<<< HEAD
version: 0.10.3
appVersion: 2.26.0
=======
version: 0.11.1
appVersion: 2.34.0
>>>>>>> main
dependencies:
  - name: postgresql
    repository: https://charts.helm.sh/stable
    version: 8.6.4
    condition: postgresql.enabled
  - name: influxdb2
    repository: https://helm.influxdata.com/
    # pinned due to issue https://github.com/influxdata/helm-charts/issues/350
    version: 2.0.0
    condition: influxdb2.enabled
  - name: graphite
    repository: https://kiwigrid.github.io
    version: 0.7.3
    condition: graphite.enabled
icon: https://docs.flagsmith.com/img/square-icon.png
# maintainers:
#   - name: Ben Rometsch, Matt Elwell
#     email: support@flagsmith.com
