name: Release Charts

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.5.4

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1
        with:
          version: v3.3.0

      - name: Add chart repo dependencies
        # Note: this repos should match whith the repos set in ct.yaml
        # See https://github.com/Flagsmith/flagsmith-charts/issues/105
        run: |
          helm repo add stable https://charts.helm.sh/stable
          helm repo add influxdb2 https://helm.influxdata.com/
          helm repo add kiwigrid https://kiwigrid.github.io
          helm repo add bitnami https://charts.bitnami.com/bitnami

      - name: Run chart-testing (lint)
        run: ct lint --config ct.yaml --lint-conf lintconf.yaml

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.2.0
        env:
          CR_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
